@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --first-color: whitesmoke;
  --second-color: #FDD69B;
  --rounded: 50px;
  --third-color: #25252D;
  --bc-body-color: #292D36;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
 background-color: #292D36;
 color: var(--first-color);
}
a {
  text-decoration: none;
}
.home {
  max-width: 1080px;
  margin: auto;
}

.navar {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
  align-items: center;
}

.item1 {
  color: var(--first-color);
  font-size: 24px;
  font-weight: 500;
}

.item1 span {
  color: var(--second-color);
  font-weight: 700;
}

.item2 {
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  border-radius: var(--rounded);
}

.item2 button{
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.item2 .active{
  background-color: rgb(212, 208, 208);
  border-radius: var(--rounded);
  display: flex;
  padding: 8px;
  transition: background-color 500ms;
}

.item2 .active:hover{
  background-color: var(--second-color);
}

.item2 input{
  border: none;
  outline: none;
  background-color: transparent;
}

.item3 {
  border: 1px solid var(--second-color);
  border-radius: var(--rounded);
  padding: 10px 15px;
  transition: box-shadow 500ms;
}

.item3:hover {
  box-shadow:  0px 5px 25px -10px #FDD69B;
}

.item3 a {
  display: flex;
  gap: 10px;
  color: var(--second-color);
}

/* =======================FILTROS==========================*/

.filtros {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  
}

.order { 
  margin: auto;
  display: flex;
  gap: 10px;
}

.order__select{
  background-color: #FDD69B;
  padding: 4px 12px;
  color: #292D36;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
  /* appearance: none; */
}

.order__select:after {
 
}

/* ==================RECIPE-PER-PAGE======================*/

.cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 100px;
  max-width: 800px;
  margin: auto;
}

/* ==================RECIPE-CARD======================*/

.card { 
  background-color: var(--third-color) ;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: box-shadow 500ms;
}

.card:hover {
  box-shadow: 0px 0px 25px -3px #434669;
}

.card__img{ 
  height: 180px;
}

.card img{
  border-radius: 15px  15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.card .info{
  background-color: var(--third-color);
  padding: 20px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

.card .moreinfo{
  text-align: center;
  border: 1px solid var(--second-color);
  font-weight: 500;
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 5px;
  transition: 500ms;
}

.card .moreinfo:hover {
  background-color: var(--second-color);

}

.card .moreinfo a{
  transition: 500ms;
  color: var(--second-color);
}

.card .moreinfo:hover a{
  text-decoration: none;
  color: var(--third-color);
}

.info__icons{
 display: flex;
 gap: 30px;
 margin-bottom: 10px;
 align-items: center;
 justify-content: center;
}

.item{
  display: flex;
  
}

.item p{
  color: var(--second-color);
  margin-top: -6px;
  font-weight: bold;
  
}

.img {
  width: 23px;
  
}


.img .iconimg{
  width: 70%;
  height: 70%;
  display: flex;
}

.card .info h2{
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.card .info ul{
  font-size: 12px;
  color:#d4d4d4;
  text-align: center;
  
}



li {
  list-style: none;
}

/* ==================PAGINADO======================*/

.paginado .lista ul{
 display: flex;
 justify-content: center;
 gap: 10px; /* Este es para separar = flex || grid*/
}

.paginado .lista button{
  width: 40px;
  height: 40px;
  padding-bottom: 1px;
  background-color: var(--bc-body-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 5px;
  transition: 500ms;
  font-size: 20px;
  cursor: pointer;
  /* display: flex; */
  
}

.paginado .lista button:hover{
  background-color: var(--second-color);
  color: var(--bc-body-color);
  border: 1px solid var(--second-color);
  
  
}


.paginado .lista{
  margin: auto;
  /* background-color: var(--second-color); */
  padding: 30px;
}

/* ==================CREATE-RECIPE======================*/

.create-recipe{
  padding: 60px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  justify-content: space-between;
  height: 100vh;
  gap: 20px;
  width: 100%;
  /* background-color: red; */
}

.create-recipe .form-recipe{
  border: 1px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--bc-body-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  
  /* gap: 10px; */
}

.create-recipe .form-recipe .image{
  /* gap: 40px; */
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.create-recipe .form-recipe .image input{
  /* gap: 40px; */
  border-radius: 5px;
  background-color: lightgrey;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}


.create-recipe .form-recipe label{
  font-size: 20px;
  
}

.create-recipe .form-recipe h1{
  font-size: 25px;
  
}

.create-recipe .form-recipe label{
  font-size: 15px;
  
}

.create-recipe a{
  padding: 10px;
  height: 50px;
  border: 1px solid var(--second-color);
  color: var(--second-color);
  border-radius: 5px;
  font-weight: 500;
  transition: 500ms;
}

.create-recipe a:hover{
  background-color: var(--second-color);
  color: var(--bc-body-color);
  border: 1px solid var(--second-color);
  box-shadow:  0px 5px 25px -10px #FDD69B;
}


/*================PREVIEW===================*/

.preview-bc{
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #1a1d22;
  border-radius: 5px;
}

.preview-bc  h2{
  font-size: 25px;
}

.preview-bc span{
  font-size: 15px;
}


/*================RECIPE-DETAIL===================*/

.recipeDetail{
  display: flex;
  flex-direction: column;
  background-color: #1a1d22;
  padding: 60px;
  
}

.recipeDetail img{
  border-radius: 8px;
  border: 2px solid var(--second-color);
  display: flex;
  
}